<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="screen">
      body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
      select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}
      img{display:block}
    </style>
    <script src='jquery-1.7.js'></script>
  </head>
  <body>

    <h2>Ham21 - The Twenty-First Century Amateur Radio Project</h2>
    
    <div id="waterfall">
    </div>
    
    <script type="text/javascript" charset="utf-8">
      var waterfallSeqNo = 0;
      function nextWaterfall() {
        $('#waterfall').prepend('<img src="waterfall?' + waterfallSeqNo + '" alt="" onload="nextWaterfall()"></img>');
        waterfallSeqNo++;
        if (waterfallSeqNo > 50) $('#waterfall img:last-child').remove();
      }
      $(document).ready(function() {
        nextWaterfall();
      });
    </script>
    
  </body>
</html>
