<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="screen">
      body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
      select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}
    </style>
    <script src='jquery-1.7.js'></script>
  </head>
  <body>

    <h1>Radio</h1>
    
    <img id="waterfall" src="waterfall.gif" alt=""></img>
    <script type="text/javascript" charset="utf-8">
      waterfallSeq = 0;
      function reloadWaterfall() {
        $("#waterfall").attr("src", "waterfall?" + waterfallSeq);
        waterfallSeq += 1;
        setTimeout( reloadWaterfall, 500);
      }
      $(document).ready(function() {
        reloadWaterfall();
      });
    </script>
    
  </body>
</html>
