<% if !$rig; response.redirect 'setup/rx'; else
-%><!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="screen">
      body{font:13px/1.231 arial,helvetica,clean,sans-serif;
        *font-size:small;*font:x-small;background:#fff}
      select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}
      img{display:block}
      #waterfallxx{height: 75px; width: 95%; overflow-x:scroll; overflow-y: hidden; background:#000}
      #main{
        background:#D36B01;
        color:#fff;
        width:940px;
        margin:auto;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding: 3px 10px 10px 10px;
      }
      #title {
        font-size:36px;
        font-weight:bold;
        text-align:center;
      }
      #main a:link, #title a:visited, #title a:link, #title a:link {
        text-decoration:none; color:#fff
      }
      #waterfall{
      }
      #output{
        background:#fcfcfc;
        color:#000;
        height:400px;
        overflow-x: hidden;
        overflow-y: scroll;
      }
      #marker{
        position:absolute;
        left:-10px;
        top:20px;
        z-index:5;
        background:#13D205;
        width:10px;
        height:10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
      }
      #wrap{
        position:relative;
        height: 100px;
        width: 940px; 
        overflow-x: scroll;
        overflow-y: hidden;
        background:#000
        }
    </style>
    <script src='jquery-1.7.js'></script>
  </head>
  <body>
    <div id="main">
      <div id="title">
        <a href="https://www.github.com/ham21/radio" target="_blank">
          The Twenty-First Century Amateur Radio Project
        </a>
      </div>

      <div id="wrap">
        <div id="marker"></div>
        <div id="waterfall"></div>
      </div>

      <div style="float:right;">
        <%= render 'ssb' %>
      </div>
      <%= render 'lo' %>

      <div id="output">
      </div>

    </div>

    <p style="text-align:center">
        SETUP: <a href="setup/rx">RX</a> | <a href="setup/af">AF</a> | <a href="setup/lo">LO</a>
    </p>
    
    
    <script type="text/javascript" charset="utf-8">
      $("#waterfall").mousedown(function(event) {
        console.log(event);
        pos = event.offsetX / $("#waterfall").children()[1].width
        $.post( 'tune', { pos: pos });
        $("#marker")[0].style.left = '' + (event.offsetX - 5) + 'px';
      });
    
    
      var waterfallSeqNo = 0;
      function nextWaterfall() {
        $('#waterfall').prepend('<img src="waterfall?' + waterfallSeqNo + '" alt="" onload="nextWaterfall()"></img>');
        waterfallSeqNo++;
        if (waterfallSeqNo > 100) $('#waterfall img:last-child').remove();
      }
      $(document).ready(function() {
        nextWaterfall();
      });
    </script>
    
  </body>
</html>
<% end -%>